.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous-button {
  margin-right: 1rem;
}

.month {
  font-size: 2rem;
  color: var(--month-color);
}

.current-month-button {
  background: var(--icon-button-background-color);
  padding: 0 1rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  height: var(--icon-button-height);
  line-height: var(--icon-button-height);
  cursor: pointer;
  transition: var(--transition);
  transition-property: color, background-color;
  color: var(--text-color);
  font-weight: bold;

  &:hover {
    color: var(--primary-color);
  }
}

.current-month {
  color: var(--primary-color);
}

.buttons {
  display: flex;
  align-items: center;
}
