:root {
  // https://www.colorhexa.com/787878
  --gray-color-00: #020202;
  --gray-color-01: #0c0c0c;
  --gray-color-02: #161616;
  --gray-color-03: #202020;
  --gray-color-04: #2a2a2a;
  --gray-color-05: #333333;
  --gray-color-06: #3d3d3d;
  --gray-color-07: #474747;
  --gray-color-08: #515151;
  --gray-color-09: #5b5b5b;
  --gray-color-10: #646464;
  --gray-color-11: #6e6e6e;
  --gray-color-12: #787878;
  --gray-color-13: #828282;
  --gray-color-14: #8c8c8c;
  --gray-color-15: #959595;
  --gray-color-16: #9f9f9f;
  --gray-color-17: #a9a9a9;
  --gray-color-18: #b3b3b3;
  --gray-color-19: #bdbdbd;
  --gray-color-20: #c6c6c6;
  --gray-color-21: #d0d0d0;
  --gray-color-22: #dadada;
  --gray-color-23: #f8f8f8;

  --body-background-color: var(--gray-color-23);
}
