:host {
  display: block;
}

.container {
  height: 100%;

  &.not-among-current-month-days {
    color: var(--date-not-among-current-month-days-color);
    background-color: var(--date-not-among-current-month-days-background-color);
  }

  &.today {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.date-number {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem 0 0;
  font-size: 1.3rem;
}
