:host {
  position: relative;
  display: block;
}

.container {
  height: 100%;

  &.not-among-current-month-days {
    color: var(--date-not-among-current-month-days-color);
    background-color: var(--date-not-among-current-month-days-background-color);
  }

  &.today {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.date-number {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem 0 0;
  font-size: 1.3rem;
}

:host:hover app-icon-button {
  visibility: visible;
}

app-icon-button {
  --icon-button-padding: 0rem;
  --icon-button-height: 2rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  visibility: hidden;
}

.event {
  padding: 0.2rem 0.4rem;
  font-size: 1.15rem;
  border-radius: 0.3rem;
  background-color: var(--secondary-color);
  color: white;
  margin: 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
